<html>
	<head>
		<title>Baby Name Search Engine .. !</title>

	</head>
	<body  >
	<p>
				&nbsp; &nbsp;Baby Name Search Engine .. !&nbsp;</p>
			<p>
		<form action="#" enctype="text/plain" id="search" method="get" name="search">
			
				<br />
				<input name="txtsearch" placeholder="Enter the baby name here ..." type="text" /></p>
		</form>
		<p>
			&nbsp;</p>
	</body>
</html>
